.section {
  height: 80%;
  width: 100%;
  position: absolute;
  display: flex;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url('../img/fondo.narnia.jpg') center/cover no-repeat;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
section:hover {
  box-shadow: 10px 10px 368px -37px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 10px 10px 368px -37px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 10px 10px 368px -37px rgba(0, 0, 0, 1) inset;
}
