@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
/* ! FALTA DARLE UN FONDO AL HEADER  */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  padding: 30px;
  background: rgb(142, 102, 43);
  background: linear-gradient(
    0deg,
    rgba(142, 102, 43, 1) 0%,
    rgba(162, 132, 121, 1) 100%,
    rgba(162, 132, 121, 1) 100%
  );
}
.img {
  width: 8rem;
  display: block;
}
.li {
  list-style: none;
}
ul {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-family: 'MedievalSharp', cursive;
}
