.header {
  background-color: #423d15;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img {
  width: 8rem;
  border-radius: 50%;
  display: block;
}
.li {
  list-style: none;
}
.link {
  text-decoration: none;
}
