.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.content {
  margin: 30px;
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.593);
  box-shadow: 7px 7px 22px 3px rgba(0, 0, 0, 0.54);
  padding: 10rem;
  border-radius: 20px;
  gap: 20px;
}
.field input {
  border: none;
  border-bottom: 1px solid #3f3f3f;
  background: none;
  padding: 3px 0;
  margin-top: 20px;
}




.content,
span {
  font-size: 30px;
  font-family: 'MedievalSharp', cursive;
} 

.submit {
  text-align: center;
  padding: 30px;
}
.enviar {
  background-color: rgba(4, 35, 35, 0.252);
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 4%;
  cursor: pointer;
  font-family: 'MedievalSharp', cursive;
  font-size: 15px;
}
.enviar:hover {
  box-shadow: 7px 7px 22px 3px rgba(0, 0, 0, 0.133);
}

.error{
  margin: 0 auto;
  background-color: #b3adbb;
  padding: 1em;
  font-size: 0.9rem;
  max-height: 50px;
  border-radius: 10px;
}
